@font-face {
  font-family: "Source Sans Pro";
  src: url(./police/SourceSansPro-Light.ttf);
}

/* ************************************ */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 3.4rem;
  font-weight: 200;
}

h2{
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -1px;
}

a:visited{
  color: black;
  margin: 25px 0;
}

p{
  line-height: 36px;
  margin: 25px 0;
}

.button{
  border: 1px solid #ccc;

}

.button:hover, 
footer:hover{
  
}

body{
  font-family: "Source Sans Pro", sans-serif;
}

/* **********<header******* */

header{
  min-height: 100vh; 
  display: grid;
  grid-template-columns: 50% 50%;
}

.banner{
  background:url(./img/banner.jpg) center/cover;
}